<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8" />
    <title>博客管理</title>

    <!-- 引入easyui -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/easyui/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/easyui/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/easyui/demo/demo.css}" />
    <script type="text/javascript" th:src="@{/plugins/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/easyui/jquery.easyui.min.js}"></script>
    <!--引入本地js文件-->

</head>
<body style="background-image: url('http://shenzc.blog.com/image/004.jpg');background-repeat:repeat-y">


<div align="center" >
    <div th:each="article: ${articleList}" style="width: 600px;height: 100px;border:1px solid #1e282c ;padding: 15px;"  >
        <a style="text-decoration: blink" th:href="@{/findArticleAndRepley/(id=${article.articleId})}" target="_blank"><div th:text="${article.title}" style="color: #1e282c;font-weight: 900;font-size: 20px"></div></a><br/>
        <div align="left" style="float: left">
            <a target="_blank" th:href="@{/basicUser/(id = ${article.authorId})}"><img th:src="@{'http://shenzc.blog.com/image/'+${article.head}}"  width="30px" height="30px" class="easyui-linkbutton"/></a>
            <div th:text="${article.username}" style="float: left"></div>
        </div>
        <div align="right">
            <span style="color: #1e282c;font-weight: 400;">浏览量:</span><span th:text="${article.singleSeePerson}" align="right"></span>
            <span style="color: #1e282c;font-weight: 400;">点赞数:</span><span th:text="${article.goods}" align="right"></span>
            <div th:text="${article.createTime}" align="right" ></div>
        </div>
    </div>
</div>



</body>
</html>
